* {
  padding: 0;
  margin: 0;
}

#feedbackBtn {
  background: none;
  border: none;
  font-family: 'Times New Roman', Times, serif;
  font-size: 17px;

  cursor: pointer;

}

body {
  /* padding: 0 12rem 0 12rem; */
}

a {
  text-decoration: none;
}
#navbar-section__main {
  margin: 2rem;
}

.navbar-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbar-items {
  display: flex;
  justify-content: space-between;
  gap: 4rem;

  list-style-type: none;
}
.navbar-item {
  color: #583101;
}

.navbar-item-right {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.navbar-item-right > button {
  background: none;
  border: none;
}

#login-btn {
  border-radius: 15px;
  color: white;
  background: #583101;
  padding: 1rem;
}

#signup-btn {
  color: #583101;
}

#hero-section__main {
  margin-top: 4rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.hero-section__top {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 1rem;

  height: 25rem;
}

.hero-item-first__top {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  font-weight: bold;

  height: 100%;
  width: fit-content;

  padding: 0 3rem 0 3rem;
  font-size: 1.5rem;
  background: #f3d5b5;
  color: #583101;
}

.hero-item-second__top {
  display: flex;

  width: 50%;
  height: 100%;

  background-image: url(./Assets/hero-img-1.png);
  background-repeat: no-repeat;
  background-size: contain;
}

#about-section__main {
  background: #f5e4ce;
  padding: 4rem 19rem 4rem 15rem;
  margin-top: 5rem;

  display: flex;
  justify-content: space-between;
  flex-direction: column;

  gap: 3rem;
}

.about-section__header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: #583101;
}

.about-section__desc {
  width: 50%;
  font-size: 0.8rem;
  color: #583101;
}

#menu-section__main {
  padding: 4rem 19rem 4rem 15rem;
  margin-top: 5rem;

  display: flex;
  justify-content: space-between;
  flex-direction: column;

  gap: 3rem;
}

.menu-section__header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: #583101;
}

.menu-section__desc {
  width: 50%;
  font-size: 0.8rem;
  color: #583101;
}

.menu-section__images {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 4rem 19rem 4rem 15rem;

  /* height: 100%; */
  background: #432818;
  color: #fff;
}

#footer-first {
  display: flex;
  justify-content: center;
  flex-direction: column;

  gap: 1rem;
}

#footer-first > img {
  align-self: flex-start;
}
#footer-first__desc {
  font-size: 15px;
}

#footer-second {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#footer-second > p {
  font-style: 15px;
}

h2 {
  font-size: 20px;
  color: #f3d5b5;
}

#footer-third {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#footer-third__media {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

#footer-fourth {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  margin-top: 3.5rem;
}
#footer-more {
}

#footer-more > ul {
  display: flex;
  flex-direction: column;

  font-size: 13px;
  list-style: none;
}
